<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JCI Job Board</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>Johnson Controls Job Board</h1>

    <div class="center-buttons">
        <button id="SMH-btn" class="db-button active" onclick="switchDatabase('SMH')">SMH</button>
        <button id="RMH-btn" class="db-button" onclick="switchDatabase('RMH')">RMH</button>
    </div>

    <div id="search-job-form">
        <div class="form-wrapper-container">
            <form class="form-wrapper" onsubmit="return searchJob();">
                <select id="search-parameter" onchange="updatePlaceholder()">
                    <option value="job">Job #</option>
                    <option value="location">Location</option>
                    <option value="task">Tasks</option>
                    <option value="bal-date">Balancing Date</option>
                    <option value="com-date">Commissioning Date</option>
                    <option value="ins-task">Installer Tasks</option>
                    <option value="tec-task">Technician Tasks</option>
                    <option value="des-task">Designer Tasks</option>
                    <option value="lss-task">LSS Tasks</option>
                </select>
                <input type="text" id="job-number-search" placeholder="Job Number..." required>
                <input type="submit" value="Search" id="submit">
            </form>
            <button style="white-space:nowrap" class="db-button active" onclick="showAddForm()">ADD +</button>
            <button style="white-space:nowrap" class="db-button active" onclick="viewAll()">VIEW ALL</button>
        </div>
    </div><br><br>

    <div id="results-container" style="display:none;"></div>

    <div id="add-job-form">
        <form id="add-job" onsubmit="addJob(event)" class="form-layout">
            <table style="width:75%">
                <tr>
                    <th>Job Number:</th>
                    <th style="width:15%">Location:</th>
                    <th style="width:75%">Information:</th>
                </tr>
                <tr>
                    <td>
                        <input class="add-input" type="text" id="Job#" name="Job#" required>
                    </td>
                    <td>
                        <input class="add-input" type="text" id="Loc." name="Loc." required>
                    </td>
                    <td>
                        <input class="add-input" style="text-align:left" type="text" id="Tasks" name="Tasks">
                    </td>
                </tr>
            </table>
            <div class="subInfoDiv" id="subInfo">
                <div class="extra-sec">
                    <label class="dates-tasks-labels" for="balancing-date">Balancing Date:</label>
                    <input type="text" class="add-dates" id="balancing-date" name="balancing-date">
                </div>
                <div class="extra-sec">
                    <label class="dates-tasks-labels" for="commissioning-date">Commissioning Date:</label>
                    <input type="text" class="add-dates" id="commissioning-date" name="commissioning-date">
                </div>
                <div class="extra-sec">
                    <label class="dates-tasks-labels" for="installer-tasks">Installer Tasks:</label>
                    <input type="text" class="add-sub-tasks" id="installer-tasks" name="installer-tasks">
                </div>
                <div class="extra-sec">
                    <label class="dates-tasks-labels" for="technician-tasks">Technician Tasks:</label>
                    <input type="text" class="add-sub-tasks" id="technician-tasks" name="technician-tasks">
                </div>
                <div class="extra-sec">
                    <label class="dates-tasks-labels" for="designer-tasks">Designer Tasks:</label>
                    <input type="text" class="add-sub-tasks" id="designer-tasks" name="designer-tasks">
                </div>
                <div class="extra-sec">
                    <label class="dates-tasks-labels" for="lss-tasks">LSS Tasks:</label>
                    <input type="text" class="add-sub-tasks" id="lss-tasks" name="lss-tasks">
                </div>
            </div>
            <div style="align-self:center">
                <label for="Client">Your Name:</label>
                <input type="text" id="Client" name="Client" required>
            </div>
            <div style="align-self:center">
                <button class="db-button" type="submit">Add Job</button>
            </div>
        </form>
    </div>
    <footer>
        <p>Release 1.0.3 BETA</p>
    </footer>
    <button class="report-button" onclick="reportError()">
        ?
    </button>

    <div id="errorReportDialog" class="modal">
        <div class="modal-content">
          <p>How would you like to report the error?</p>
          <button onclick="sendEmail()">Email</button>
          <button onclick="sendText()">Text</button>
          <button onclick="closeDialog()">Cancel</button>
        </div>
      </div>
    <script src="/static/js/scripts.js"></script>
</body>
</html>
